
<div id="map_search" class="large-12 columns">
	<form>
		<input type="text" placeholder="Enter Search Here">
		<button type="submit" id="map_search_submit" class="button">SEARCH</button>
	</form>
</div>