
<div id="map_canvas"></div>
<div class="parks_index_container">
	<div id="control_container" class="row">
		<div id="results" class="large-6 columns"></div>
		<div class="large-6 columns"></div>
	</div>
</div>


<div id="search_modal" class="reveal-modal" data-reveal>
     <%= render partial: 'parks/form', :controller=>"parks", :action =>"post" %>
     <a class="close-reveal-modal">X</a>
</div>